html
  head
    title='Pluralsight Rocks'
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Hello Pluralsighters!!
        p check the button below to head to my podcast...
        p
          a.btn.btn-primary(href="https://google.com") Podcast
        p
